<div class="container">
  <div class="row justify-content-center">
    <h1>Modifier mon vélo</h1>
    <div class="col-4">
      <%= simple_form_for @bike do |f| %>
        <%= f.input :model %>
        <%= f.input :address %>
        <%= f.input :gender %>
        <%= f.input :color %>
        <%= f.input :gear %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :style %>
        <%= f.submit "Valider", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
