<div class="container">
  <div class="row">
    <div>
      <div class="cards">
        <% @bikes.each do |bike| %>
          <%= link_to bike_path(bike) do %>
            <div class="card-bike">
              <% bike.photos.each do |photo| %>
              <%= cl_image_tag photo.key, crop: :fill %>
              <% end %>
              <div class="card-bike-infos">
                <div>
                  <h2><%= bike.model %></h2>
                  <p><%= bike.description %></p>
                </div>
                <h2 id="card-bike-price"><%= bike.price %>€</h2>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
