<div class="container">
<!--  -->
  <h1 class="title mt-2">Ajouter un vélo</h1>
  <%= simple_form_for @bike do |f| %>
    <div class="row justify-content-center mb-5">
      <div class="col-6">
        <%= f.input :model %>
        <%= f.input :style, collection: Bike::BIKE_STYLE %>
        <%= f.input :color, collection: Bike::BIKE_COLOR %>
        <%= f.input :description %>
      </div>

      <div class="col-6">
        <%= f.input :gender, collection: Bike::BIKE_GENDER %>
        <%= f.input :gear %>
        <%= f.input :address, collection: Bike::BIKE_CITY %>
        <%= f.input :price %>
        <%= f.input :photos, as: :file, input_html: { multiple: true} %>
      </div>
      <div>
        <%= f.submit "Valider", class: 'btn btn-flat' %>
      </div>
    </div>
  <% end %>
</div>
