<div class="container">
<!--  -->
  <h1 class="title mt-2">Ajouter un vélo</h1>
  <%= simple_form_for @bike do |f| %>
    <div class="row justify-content-center mb-5">
      <div class="col-6">
        <%= f.input :model,label: "Modèle" %>
        <%= f.input :style, collection: Bike::BIKE_STYLE, label: "Type" %>
        <%= f.input :color, collection: Bike::BIKE_COLOR, label: "Couleur" %>
        <%= f.input :description, label: "Description" %>
      </div>

      <div class="col-6">
        <%= f.input :gender, collection: Bike::BIKE_GENDER, label: "Genre" %>
        <%= f.input :gear, label: "Vitesses" %>
        <%= f.input :address, label: "Adresse", class: 'bike_new_id' %>
        <%= f.input :price, label: "Prix" %>
        <%= f.input :photos, as: :file, input_html: { multiple: true} %>
      </div>
      <div>
        <%= f.submit "Valider", class: 'btn btn-flat' %>
      </div>
    </div>
  <% end %>
</div>
