<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card-bike">
        <%= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill %>
        <div class="card-bike-infos">
          <div>
            <h2> <%= bike.model %> </h2>
            <p> <%= bike.description %> </p>
            <p> <%= bike.gender %> </p>
            <p> <%= bike.color %> </p>
            <p> <%= bike.gear %> </p>
            <p> <%= bike.style %> </p>
          </div>
          <h2 class="card-bike-pricing"> <%= bike.price %> </h2>
        </div>
      </div>
    </div>
  </div>
</div>
