
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= link_to bike_path(@bike), method: :delete, data: { confirm: 'Etes-vous certain de vouloir supprimer votre annonce ?'} do %>
          <i class="far fa-trash-alt"></i>
      <% end %>
      <div class="card-bike">
        <% @bike.photos.each do |photo| %>
          <%= cl_image_tag photo.key, crop: :fill %>
        <% end %>
        <div class="card-bike-infos">
          <div>
            <h2> <%= @bike.model %> </h2>
            <p> <%= @bike.description %> </p>
            <p> <%= @bike.gender %> </p>
            <p> <%= @bike.color %> </p>
            <p> <%= @bike.gear %> </p>
            <p> <%= @bike.style %> </p>
          </div>
          <h2 class="card-bike-pricing"> <%= @bike.price %> </h2>
        </div>
      </div>
    </div>
  </div>
</div>
