<!DOCTYPE html>
<html>
  <head>
    <title>BikeMeUp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1523891046626-daa31d9e280f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-size: cover">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= render 'shared/footers' %>
  </body>
</html>
